<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200647345557-724nguhrbdmhjkvo4gfa0qgoshv76rrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200647345557-724nguhrbdmhjkvo4gfa0qgoshv76rrj</string>
	<key>API_KEY</key>
	<string>AIzaSyCT5aLUINQWG4BnEVV2dAqkYD3adxUTaqw</string>
	<key>GCM_SENDER_ID</key>
	<string>200647345557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pau.Evidens</string>
	<key>PROJECT_ID</key>
	<string>evidens-ec6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>evidens-ec6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:200647345557:ios:cf48caaf9167e38db2a29c</string>
	<key>DATABASE_URL</key>
	<string>https://evidens-ec6bd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
